.bg{
	font-family: Helvitica;
	background: rgba(46,151,250,1);
background: -moz-linear-gradient(left, rgba(46,151,250,1) 0%, rgba(17,126,246,1) 73%, rgba(6,117,244,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,151,250,1)), color-stop(73%, rgba(17,126,246,1)), color-stop(100%, rgba(6,117,244,1)));
background: -webkit-linear-gradient(left, rgba(46,151,250,1) 0%, rgba(17,126,246,1) 73%, rgba(6,117,244,1) 100%);
background: -o-linear-gradient(left, rgba(46,151,250,1) 0%, rgba(17,126,246,1) 73%, rgba(6,117,244,1) 100%);
background: -ms-linear-gradient(left, rgba(46,151,250,1) 0%, rgba(17,126,246,1) 73%, rgba(6,117,244,1) 100%);
background: linear-gradient(to right, rgba(46,151,250,1) 0%, rgba(17,126,246,1) 73%, rgba(6,117,244,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e97fa', endColorstr='#0675f4', GradientType=1 ); 
}

.container{
border-radius: 75px 75px 75px 75px;
-moz-border-radius: 75px 75px 75px 75px;
-webkit-border-radius: 75px 75px 75px 75px;
border: 2px;
background-color:#ffffff;
color:black;
	
}

.content-left-top{
	height: 20vh ;
	width: 20%;
}
.content-left-bottom{
	height: 20vh ;
	width: 20%;
}
.navbar{
	width: 2.5vw;
	text-align: left;
 	margin-left: 45px;
	height: 60vh;
	padding:1.5px;
	padding-left: 0%;
}

ul{
	list-style: none;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 5px;
}

li a{
	text-decoration:#ffffff ;
	text-transform: uppercase;
	
}

li{
	height: 100%;
	margin-bottom: 8vh;
	margin-top: 8vh;
	margin-right: 8vh;
	font-family:Helvetica, Arial, sans-serif;
}
.content-left{
	width: 5%;
	float: left;
	position: fixed;
	align-self: auto;
}
.content-right{
	width: 88%;
	float: right;
}

.section-a{
	background-color:cornflowerblue; height:93vh;width:90%;
	margin-top: 2vh;
	margin-bottom: 5vh;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.section-b{
	background-color:coral; height:93vh;width:90%;
	margin-top: 2vh;
	margin-bottom: 5vh;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.section-c{
	background-color:crimson; height:93vh;width:90%;
	margin-top: 2vh;
	margin-bottom: 5vh;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.section-d{
	background-color:cyan; height:93vh;width:90%;
	margin-top: 2vh;
	margin-bottom: 5vh;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}