.logo{
	display: block;
}
body{
	font-family: 'Raleway',sans-serif;
}

.about_title, .about_subtitle{
	font-weight: lighter;
	padding-top: 12px;
}

.social_media span{
	font-size: 1.25em;
}
span a{
	color:grey;
}

.jumbotron{
	margin-bottom: 0px;
}

.skills_section{
	padding-top: 32px;
	background-color: #8CB2DD;
	padding-bottom: 32px;
}

.myskill{
	padding-top: 12px;
}